{% extends 'base.html.twig' %}
{% block title %}

    Me Site {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container-fluid text-center">
        <h2>
            Vamos creando partes
        </h2>
        <h4>
            Cantidad de Naves Espaciales: {{ naves|length * 4 }}

            {% if naves|length > 2 %}
                <p>Estamos preparados</p>
            {% endif %}
            {% if naves|length < 6 %}
                <p>No estamos preparados</p>
            {% endif %}

            <table class="table table-responsive">
                <tr>
                    <th>Nave</th>
                    <td>{{ miNave.name }}</td>
                </tr>
                <tr>
                    <th>Clase</th>
                    <td>{{ miNave.class }}</td>
                </tr>
                <tr>
                    <th>Capitán</th>
                    <td>{{ miNave.captain  | title }}</td>
                </tr>
                <tr>
                    <th>Estado</th>
                    <td>{{ miNave.status | title}}</td>
                </tr>

            </table>
        </h4>
    </div>
{% endblock %}